<div class="ui floating labeled">
    <div class="ui horizontal divider">
        <i class="filter icon"></i>
        <span class="text">Filter Drinks</span>
    </div>
    <div class="menu">
        <div class="item">
            <div class="ui slider checkbox">
                <input type="checkbox" name="public" ng-model="search.Filter.HasCarbonation" ng-change="search.FilterDrinks()">
                <label>Has Carbonation <div class="ui teal outline empty circular  label"></div></label>
            </div>
        </div>
        <div class="item">
            <div class="ui slider checkbox">
                <input type="checkbox" name="public" ng-model="search.Filter.HasCalories">
                <label> Has Calories <div class="ui yellow outline empty circular  label"></div></label>
            </div>
        </div>
        <div class="item">
            <div class="ui slider checkbox">
                <input type="checkbox" name="public" ng-model="search.Filter.HasJuice">
                <label> Has Juice <div class="ui orange outline empty circular  label"></div></label>
            </div>
           
        </div>

    </div>
</div>
